@charset "utf-8";
/* CSS Document */
html,body{height:100%}
body {
	margin: -1px;
    padding:-1px;
    width: 100%;
    height: 100%;
	background-image: url(../images/background.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
div.qq{
	background-color:rgba(255,255,255,0.11);
	color: white;
	font-size: 15px;
	line-height: 28px;
}
div.qqq{
	background-color:rgba(255,255,255,0.11);
	color: white;
	font-size: 15px;
	line-height: 28px;
}
div.qqqq{
	background-color:rgba(255,255,255,0.0);
	color: white;
	font-size: 15px;
	line-height: 28px;
}
div.qqqqq{
	background-color:rgba(255,255,255,0.01);
	color: white;
	font-size: 15px;
	height: 28px;
	width: 28px;
	line-height: 33px;
	text-align: center;
}
div.cc{
	background-color:rgba(255,255,255,0.16);
	width: 70px;
	height: 60px;
	text-align: center;
	line-height: 87px;

}