@charset "utf-8";
html{height:100%;}body{height:100%;overflow:hidden;}
body {
	margin: 0px;
    padding:0px;
    width: 100%;
    height: 100%;
	background-image: url(../images/background720x404.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	line-height: inherit;
}
div.qq{
	background-color:rgba(255,255,255,0.11);
	color: white;
	font-size: 15px;
	line-height: 28px;
}
div.qqq{
	background-color:rgba(255,255,255,0.11);
	color: white;
	font-size: 15px;
	line-height: 28px;
}
div.qqqq{
	background-color:rgba(255,255,255,0.0);
	color: white;
	font-size: 15px;
	line-height: 38px;
}
div.qqqqq{
	background-color:rgba(255,255,255,0.01);
	color: white;
	font-size: 15px;
	height: 28px;
	width: 28px;
	line-height: 38px;
	text-align: center;
}
div.cc{
	background-color:rgba(255,255,255,0.16);
	width: 70px;
	height: 60px;
	text-align: center;
	line-height: 87px;

}
textarea.cmd{
			background-color:#9E004E;
			height: 700px;
			width: 600px;
			color: white;
			border-bottom:3px solid #00A8D3;
			border-left:3px solid #00A8D3;
			border-right:3px solid #00A8D3;
			border-top:1px solid #00A8D3;
			
		}
		header.qq{
			color: white;
			background-color: #352D2D;
			width: 604px;
	
			border-left:3px solid #00A8D3;
			border-right:3px solid #00A8D3;
			border-top:3px solid #00A8D3;	
		}
		div.dcmd{
			height: 700px;
			width: 600px;
			margin-left: 100px;
			position: absolute;
			top: 100px;
			display:none;
			
		}
div.close{
			background:#006245;
			color: white;
			width: 300px;
			border:2px solid #000000;
			display: none;
			position: absolute;
			top:30px; 
	        right: 2px;
			float: right;
		}
li.emm{
	cursor: default;
}
input.ko{
			height: 30px;
			width: 400px;
			border-radius: 10px;
		}
		.button1{
			height: 30px;
			width:60px;
			border-radius: 10px;
		}
		div.search1{
			height: 100px;
			width: 500px;
			background: #66CCFF;
			line-height: 40px;
			border: 3px solid #AD0002;
			border-radius: 20px;
			position: absolute;
			top:40px;
			left:100px;
			display: none;
		}
		b.baidu{
			font-size: 35px;
		}
div.buy{
	color: #FFFFFF;
	width: auto;
	height: 22px;
	position: absolute;
	bottom: 0px;
	left:47%;
	cursor: default;
	font-family: myfristfont;
	font-size: 20px;
}
@font-face{
	font-family:myfristfont;
	src:url(font/FancyText.ttf);
}
div.musics{
	display: none;
}
div.my-minecraft{
        position:absolute;
	bottom:-2px;
	right:-3px;
	
}
img.imy{
	width: 400px;
	height: 400px;
	position: absolute;
}
div.hide{
        position:absolute;
	bottom:-3px;
	right:-1px;
}
div.dam{
			background:#66ccff;
			width:500px;
			height: 50px;
			padding: 10px;
			position: absolute;
			top:70px;
			left: 90px;
			border: 6px groove;
			border-bottom-color: #FF0000;
			border-top-color: #FFFF00;
			border-left-color: #0000FF;
			border-right-color: #00FF00;
			border-radius: 20px;
			line-height: 50px;
	display: none;
		}
		button.dambot{
			width: auto;
			border: 0px hidden #000000;
			border-radius: 10px;
			height: auto;
			padding: 6px;
			
		}